# Database Connection (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_n4FCjYDkbd3s@ep-cool-rain-ax6nmkbt-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require

# Cloudinary Media Storage Credentials
CLOUDINARY_CLOUD_NAME=dzuuktgl0
CLOUDINARY_API_KEY=731624622285881
CLOUDINARY_API_SECRET=your_api_secret_here
CLOUDINARY_URL=cloudinary://731624622285881:your_api_secret_here@dzuuktgl0

# Django Settings
SECRET_KEY=django-insecure-key
DEBUG=True
